---
layout: page
title: Publications
permalink: /pubs/
---

<style>
.pubitem {
    margin-bottom: 1.2em;
}
.pubtitle {
    font-weight: 600;
}
.pubauthors {
    font-size: 0.9em;
}
.pubinfo {
    font-size: 0.9em;
    color: #555;
}
.pubaward {
    color: red;
}
.publinks {
    font-size: 0.85em;
    margin-top: 0.2em;
}
.publinks a {
    margin-right: 0.4em;
    text-decoration: none;
}
.border {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 0.85em;
}
.year-heading {
    margin-top: 1.5em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.2em;
}
</style>

{% assign pubs = site.data.publications.items | sort: "pubtime" | reverse %}
{% assign years = pubs | map: "year" | uniq %}

{% for year in years %}
<h3 class="year-heading">{{ year }}</h3>
{% for pub in pubs %}
  {% if pub.year == year %}
    {% include pub-item.html pub=pub %}
  {% endif %}
{% endfor %}
{% endfor %}
