.exp_first_line {
    margin-bottom: 0.5em
}

.exp_second_line {
    line-height: 0.1em;
}

.exp_company{
    float: left;
    font-size: 90%;
    color: #5b5a5a;
}

.exp_location{
    float: right;
    font-size: 90%;
    color: #5b5a5a;
}

.exp_position{
    font-weight: bold;
    float: left;
    color: #014a83;
}

.exp_duration{
    float: right;
    font-size: 90%;
    color: #5b5a5a;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}