img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.introduction {
  text-align: center;
  font-size: large;
}

.position{
  color: #508dd9
}

.meta-information{
  font-size: small;
}