.talk_title{
    font-style: italic;
    float: left
}

.talk_date{
    float: right;
    font-size: 90%;
}

.talk_venue{
    float: left;
    font-size: 90%
}

.talk_location{
    float:right;
    font-size: 90%
}

.location_info {
    line-height: 0.1em;
}