---
layout: base
---

<link rel="stylesheet" href="../assets/css/index_page.css">

<div class="home">
    <div>
        <img src="../assets/img/group-members/siulun.jpg" alt="siu lun chau" width="100">
        <p>
    </div>
    <div class="introduction">
        <div class="position">
            {{ page.position }}
        </div>
        <div class="location">
            <a href="https://cispa.de/en">
                {{ page.location }}
            </a>
        </div>
        <p></p>
        <div class="meta-information">
            <a href="mailto:a.siulun.chau@gmail.com">
                Email
            </a>
            |
            <a href="https://scholar.google.com/citations?user=e7ZBlIsAAAAJ&hl=en">
                Google Scholar
            </a>
            |
            <a href="https://twitter.com/Chau9991">
                Twitter
            </a>
            |
            <a href="https://github.com/Chau999">
                Github
            </a> |
            <a href="../assets/cv/academic_curriculum_vitae(old).pdf">
                CV
            </a>
        </div>
    </div>
    <br>
    <hr>
    <br>
    {{ content }}
</div>